*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:rgb(62, 6, 4);
}
body{
    background-color: rgb(27, 28, 29);
    color: rgb(246, 255, 248);
}
.fluid__nav{
    background-color: rgb(238, 124, 25);
}
.container{
    width: 80%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    position: relative;
}
.nav__links li{
    margin-right: 5px;
}
.nav__links li:last-child{
    margin-right: 0px;
}
.logo{
    font-size: 18px;
    letter-spacing: 3px;
    color: var(--primary);
}
.nav__links{
    display: flex;
    justify-content: space-around;
    width: 45%;
}
@media screen and (max-width:1150px) {
    .nav__links{
        width: 60%;
    }
}
@media screen and (max-width:920px) {
    .nav__links{
        width: 65%;
    }
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
}
.burger{
    cursor: pointer;
}
.burger div{
    height: 3px;
    width: 23px;
    margin: 4px;
    background-color: var(--primary);
    transition: transform 0.2s ease;
}
.fluid__container{
    background: url(./images/pairet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 92vh;
}
/* for body burger */
.burger{
    display: none;
}


@media screen and (max-width:768px) {
    .burger{
        display: block;
    }
   .nav__links{
       position: fixed;
       width: 40%;
       height: 92vh;
       top: 8vh;
       right: 0;
       background-color: rgb(238, 124, 25);
       flex-direction: column;
       transform: translateX(100%);
       transition: transform 0.5s ease;
       /* display: none; */
   } 
   .nav__links li{

       text-align: left;
       transform: translateX(3em);
       opacity: 0;

   }
}

/* li animation */
@keyframes liAnimation {

    0%{
        opacity: 0;
        transform: translateX(60px);
    }
    100%{
        opacity: 1;
        transform: translateX(30px);
    }
    
}
.active{
    transform: translateX(0%);
}

/* animated hamburger manu */
.toggle .line1 {
     transform: rotate(-45deg) translate(-3.5px,7px);
     /* transform-origin: center;    */
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-3px,-6px);
    /* transform-origin: center; */
}
